/* FONDO */
#fondo {
    background-image: url(../Fondos/Cielo.jpg);
    background-size: auto;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Cinzel', cursive;
}

#fondo2 {
    background-color: #3D3D3D;
    font-family: 'Cinzel', cursive;
}