footer {
    background: rgba(158, 158, 158, 0.75);
    margin: 0;
    width: 100%;
    height: 60px;
}
footer { 
    img {
        width: 40px;
        position: relative;
        left: 50%;
        top: 12px;
    }
}